.chart {
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 11rem;
  }

  .chart_main{
    padding: 1rem;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 16rem;
    width: 60%;
  }

  @media (min-width: 360px) and (max-width: 500px) {
  .chart_main{
    width: 100%;
  }
    
    }
  @media (min-width: 501px) and (max-width: 768px) {
    .chart_main{
      width: 100%;
    }
      
    /* … */
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .chart_main{
      width: 100%;
    }
  }
